repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0  
    hooks:
    -   id: flake8
        args: ["--config=backend/setup.cfg"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
    -   id: mypy
        exclude: ^backend/.*migrations/|backend/.*/settings\.py$
        args: [--ignore-missing-imports]